.transform-upper {
  text-transform: uppercase;
}

.radioDiv {
  flex-direction: column;
  gap: 20px;
}

.inputRow {
  width: 80%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #a3aef3;
}

.imgs {
  width: auto;
  height: 35px;
}

.inputRow input[type="radio"] {
  display: none;
}

.inputRow label {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}

.inputRow label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 2px solid black;
  border-radius: 50%;
}

.inputRow input[type="radio"]:checked + label:before {
  background-color: #000000;
}

.inputRow input[type="radio"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.form-container {
  height: 85%;
  width: 100%;
  border-radius: 15px;
  padding: 0;
}

.form-title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  align-self: self-start;
  margin-left: 2.3rem;
}

.plan_text {
  font-weight: 700;
  font-size: 0.8rem;
}

.form-header {
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap-reverse;
}

.ruler {
  width: 76%;
  border: 1px solid #d9d9d9;
}

.valores {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.valores p {
  margin: 0;
}

.w-90 {
  width: 80%;
}

.text-desconto {
  font-weight: 600;
}

.destaque {
  color: #8372ba;
  font-weight: 700;
}

.text-total {
  font-weight: 600;
  font-size: 1.2rem;
}

.destaque-large {
  color: #714af0;
  font-weight: 700;
  font-size: 1.2rem;
}

.continue {
  font-weight: 500;
  font-size: 1.1rem;
  color: #263238;
}

.valoresTotal {
  display: flex;
  gap: 20px;
}

.original {
  text-decoration: line-through;
  text-decoration-color: #37363690;
  align-self: center;
  font-weight: 700;
  color: #26323890;
}

.smallText {
  font-size: 0.8rem;
  font-weight: 600;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.input {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  height: 50px;
  padding-left: 10px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #dfdfdf;
}

.sm-input {
  width: 100px;
}

.form-complete {
  display: flex;
  flex-direction: column;
}

.custom-button {
  background-color: black;
  color: #f9f9f9;
  border: none;
  margin-top: 20px;
  align-self: center;
  height: 50px;
  width: 220px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #1a1a1a;
}

.list {
  margin-top: 10px;
}

.card-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
