@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@import url(auth.css);
@import url(skeleton.css);
@import url(app.css);
@import url(imovelPage.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.number-code-input{

  width: 45px;
  height: 40px;
  text-align: center;
  font-weight: 700;






}

.logomin {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.btn-active {
  background-color: black !important;
  /* Fundo preto */
  color: white;
  /* Texto branco */
}

.btn-inactive {
  background-color: transparent;
  /* Fundo transparente */
  color: black;
  /* Texto preto */
  border: none;
  /* Opcional: adicione uma borda preta */
}

.vertical-hr {
  height: 30px;
  /* Ajuste conforme a altura desejada */
  width: 1px;
  background-color: black;
  margin-left: 6px;
}

.avatar-null {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #212e3c;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}

.btn-outline-danger,
.btn-outline-success {
  width: 100%;
  padding-top: 12.9px;
  padding-bottom: 12.9px;
  background-color: #fff;
}

.btn-outline-danger {
  border-radius: 0 5px 5px 0;
}

.btn-outline-success {
  border-radius: 5px 0 0 5px;
}

.selectDay .btn-outline-danger,
.selectDay .btn-outline-success {
  width: 100%;
  padding-top: 12.9px;
  padding-bottom: 12.9px;
  background-color: #fff;
}

.selectDayMiddle {
  border-radius: 0 !important;
}

.selectDaySuccess {
  border-radius: 0 5px 5px 0 !important;
}

.btn-group {
  width: 100%;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  margin-top: 20%;
}

input[type="file"] {
  display: none;
}

label[for="formFile"] {
  padding: 20px 10px;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  cursor: pointer;
  border-radius: 5px;
}

/* PRICE CARDS */
.pricing-table {
}

.pricing-table .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.pricing-table .block-heading h2 {
  color: #3b99e0;
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #5ea4f3;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px;
}

.pricing-table .item button {
  font-weight: 600;
}

.pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px;
}

.pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

.pricing-table .features .feature {
  font-weight: 600;
}

.pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

.pricing-table .price h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: #2288f9;
}

.pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0;
}

.alert-success {
  color: #12d362;
}

.alert-warning {
  color: #d3a312;
}

.alert-danger {
  color: #a82323;
}

.linhacomplete {
  border: 3px solid #212e3c;
}

.iconCheck {
  width: 20px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.thumb-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.thumb {
  width: 100px;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #212e3c;
}

.msgPerfil {
  width: 30%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 5px;
  border-radius: 50px;
  background-color: #212e3c;
  color: #fff !important;
  justify-content: center;
  align-items: center;
}

.thumbImovel {
  width: 90px;
  border-radius: 5%;
  height: 90px;
  object-fit: cover;
}

.text-perfil {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  margin-left: 2px;
}

.iconClose {
  float: inline-end;
  margin-right: 10px;
  margin-top: 4px;
}

.logoArea {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #929292;
  margin-bottom: 5%;
}

.logoEmpresa {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.msgContato {
  width: 20%;
  right: 0;
  position: fixed;
  bottom: 0;
  margin-top: 8% !important;
  margin-bottom: 5% !important;
  padding: 5px;
  border-radius: 50px;
  background-color: #0ec55a;
  color: #fff !important;
  justify-content: center;
  align-items: center;
}

.text-contato {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  margin-left: 2px;
  text-align: center;
}

.preview-photo-prato {
  width: 200px;
  height: 200px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border: 2px solid #848484;
  margin: 0;
}

.area-photo-prato {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.img-photo-prato {
  width: 200px;
  height: 200px;
  border: 2px solid #848484;
  border-radius: 10px;
  background-image: url("../images/iconUpload.jpg");
  background-size: cover;
  margin: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute !important;
}

.btn-remover {
  position: absolute;
}

.iconProgress {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-pills .nav-link.active {
  background-color: #212e3c;
}

.nav-link {
  color: #212e3c;
}
